{{ define "main" }}

<h1></h1>

<p>
Välkommen till min hemsida! Här kan du ta del av mina texter och bilder. Snart kommer du även att kunna se bilder och läsa utdrag från min bok <i>Lättuggat och svårsmält</i> på denna sida. <a href="ommig/"></a>
</p>
<br/>

<h1>Senaste händelserna</h1>

<div class="posts-list">
{{ with .Site.GetPage "/nyheter" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="nyheter">
            <div class="date">{{ .PublishDate.Format "2 January, 2006" }}</div>
            <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
            {{ .Summary }}
        </div>
    {{ end }}
{{ end }}
</div>

<h1>Senaste bilderna</h1>

<div class="image-grid">
{{ with .Site.GetPage "/bilder" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Resize "400x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        </a>
    {{ end }}
{{ end }}
</div>

{{ end }}
