{{ define "main" }}
<h1>
<meta property="og:title" content="Roland Frögren" />
<meta property="og:description" content="Min bok 'Lättuggat & svårsmält' finns nu att köpa." />
<meta property="og:image" content="balkongbok.jpg" /></h1>
<p>
    Välkommen till min hemsida! Här kan du ta del av <a href="/texter/">texter</a> och <a href="/bilder/">bilder</a> hämtade från min bok <a href="/boken/"><i>Lättuggat och svårsmält</i></a>. Klicka <a href="/boken/">här</a> om du vill beställa boken.
    <a href="/boken/">
        <img src="rolandsbok360moturs.gif" class="img-re-sponsive" height="">
        </a>
</p>
{{ end }}
