{{ define "main" }}
<head>
  <title>{{ .Site.Title }}</title>
  <meta name="description" content="Välkommen till min hemsida. Nu finns min bok 'Lättuggat & svårsmält' till försälning."/>
</head>

<h1 ></h1>
<p>
    Välkommen till min hemsida! Här kan du ta del av <a href="/texter/">texter</a> och <a href="/bilder/">bilder</a> hämtade från min bok <a href="/boken/"><i>Lättuggat och svårsmält</i></a>. Klicka <a href="/boken/">här</a> om du vill beställa boken.
    <a href="/boken/">
        <img src="rolandsbok360moturs.gif" class="img-re-sponsive" height="">
        </a>
</p>
{{ end }}
