{{ define "main" }}
<head>
  <title>{{ .Site.Title }}</title>
  <meta name="description" content="Välkommen till Roland Frögrens hemsida!"/>
</head>

<h1 ></h1>
<p>
  Vår älskade Roland Frögren somnade den 28 november 2020 in i sitt hem efter en längre tids sjukdom. Vi är många som känner stor sorg och saknad i denna stund. <br> <br> Begravningen kommer att äga rum i Lidingö kyrka fredag 11 december kl. 13.00 i kretsen av de närmaste. För de som så önskar kommer det att gå att följa begravningen via en länk som kommer att läggas upp här på hemsidan så snart som möjligt. <br> <br>

Rolands bok <a href="/boken/"><i>Lättuggat och svårsmält</i></a> finns fortfarande i lager och information om hur du kan införskaffa den hittar du <a href="/boken/">här</a>. Här på hemsidan kan du också ta del av några <a href="/texter/">texter</a> och <a href="/bilder/">bilder</a> hämtade från boken. <br> <br>

</p>
{{ end }}
